@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-inter: var(--font-inter);
  --font-tilt-wrap: var(--font-tilt-wrap);
}

.home-hero {
  background: url(../public/home-hero.png);
  background-size: cover;
  height: 600px;
}
.speaker {
  background: url(../public/speaker-bg.png);
  background-size: cover;
  background-position: bottom;
}
.program {
  background-image: url(../public/program-bg.png);
  background-color: #fcffff;
  background-size: cover;
  background-position: bottom;
}
.exibit {
  background-image: url(../public/exibit-bg.png);
  background-size: cover;
  background-position: bottom;
}
.event-info {
  background-image: url(../public/event-bg.jpg);
  background-size: cover;
  background-position: center;
}
.survey {
  background-image: url(../public/survey.jpeg);
  background-size: cover;
  background-position: center;
}